output/*
indent.log
.direnv
*.log
*.aux
*.glo
*.glg
*.lof
*.lot
*.lol
*.out
*.pdf
*.slg
*.slo
*.sls
*.toc
*.gls
*.ist
*-blx.bib
*.bbl
*.run.xml
# Tectonic build directory
build/
# Titlepage: ignore source files but keep the rendered PDF
titlepage/*
!titlepage/Thesis_Titlepage.pdf
# Local: For local, non public data (like notes from discussions)
local/*
